/* Dependences */

@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Global variables */

:root {
    --color__highlight: #f99f19;
    --color__primary: #fff;
    --color__alternative: #222;
    --color__secondary: #53234F;

    --size__lg: 5rem;
    --size__md: 3.5rem;
    --size__sm: 1.5rem;
    --size__xs: 1rem;
    --size__MAIN_LOGO: 5rem;
    --size__BUTTON: 13rem;
    --size__BORDER_RADIUS: .25rem;

    --font__family: "Open Sans";
    --font__extrabold: 800;
    --font__bold: 700;
    --font__regular: 400;
}


/* Color Palette */

.cta__title {
    color: var(--color__highlight);
}

.cta__text {
    color: var(--color__primary);
}

.cta__button {
    color: var(--color__primary);
    background-color: var(--color__highlight);
}

.cta__button:hover {
    background-color: var(--color__secondary);
}

#section {
    background-color: var(--color__highlight);
}

.section__title, .section__subtitle {
    color: var(--color__secondary);
}

.section__text, .section__name, .section__description {
    color: var(--color__alternative);
}

.section__list .bi {
    color: var(--color__secondary);
}

.section__action{
    color: var(--color__primary);
    background-color: var(--color__alternative);
}

.section__action:hover {
    background-color: var(--color__secondary);
}

/* Typography */

body * {
    font-family: var(--font__family);
}

em {
    font-weight: var(--font__extrabold);
}

.cta__title {
    font-size: var(--size__md);
    font-weight: var(--font__extrabold);
}

.cta__text {
    font-size: var(--size__sm);
    font-weight: var(--font__regular);
}

.cta__button {
    font-weight: var(--font__bold);
    text-decoration: none;
}

.cta__button:hover {
    font-weight: var(--font__extrabold);
}

.section__title {
    font-size: var(--size__md);
    font-weight: var(--font__extrabold);
}

.section__subtitle {
    font-size: var(--size__sm);
    font-weight: var(--font__extrabold);
}

.section__text {
    font-size: var(--size__sm);
}

.section__subtitle + .section__text {
    font-size: var(--size__xs);
}

.section__name {
    font-weight: var(--font__bold);
    font-size: var(--size__sm);
}

.section__description {
    font-size: var(--size__xs);
}

.section__action {
    text-decoration: none;
    font-size: var(--size__xs);
}

.section__action:hover {
    font-weight: var(--font__bold);
}

/* Style */

#hero {
    background-image: url(../images/background.jpg);
    background-position-x: center;
    backgroun-position-y: center;
}

.logo_batista {
    width: var(--size__MAIN_LOGO);
}

.cta__button {
    border-radius: var(--size__BORDER_RADIUS);
}

.logo_conferencia__dany_grace {
    filter: grayscale(1) opacity(.72);
}

.logo_conferencia__dany_grace {
    position: absolute;
    z-index: 0;
}

.logo_conferencia__lettering {
    padding-top: 15%;
    position: relative;
    z-index: 1;
}

#section {
    border-bottom: var(--size__xs) var(--color__secondary) solid;
}

.section .bi {
    font-size: var(--size__md);
}

.section__action {
    border-radius: var(--size__BORDER_RADIUS);
}

/* Alignment */

.section {
    text-align: center;
}

/* Layout */

.cta__button {
    display: inline-block;
    width: var(--size__BUTTON);
    text-align: center;
}

.section__action {
    display: inline-block;
    width: var(--size__BUTTON);
    text-align: center;
}

/* Spacing */

.wrapper {
    padding: var(--size__sm);
}

.header {
    margin-bottom: var(--size__md);
}

.cta__button {
    padding: var(--size__xs) 0;
}

.section__list {
    align-content: space-around;
}

.section__action {
    padding: var(--size__xs) 0;
}

@media (max-width: 719px) {

    .logo_batista {
        width: 7rem;
    }

    /* Alignment */

    .logo_batista {
        margin: auto;
    }

    .cta, #section .wrapper {
        text-align: center;
    }

    /* Spacing */

    .illustration, .cta__title {
        margin-top: var(--size__md);
    }

}
